body{
    background: lightblue;
}

.logoEncabezado{
    border-radius: 5px;
    width: 70%;
    gap: 40px;
    margin-right: 0%;
}

.logo{
    margin-top: 40px;
}

.titulo-visible{
    display: inline-block;
    font-size: 3em;
    color: #0A3871;
    text-decoration-line: overline;
    margin-top: 40px;
    font-weight: bold;
}

.texto-encriptar{
    float: left;
    width: 680px;
    margin-top: 50px;
    margin-left: 240px;
    height: auto;
}

.textoInicial{
    float: left;
    border: none;
    border-radius: 10px;
    font-size: 32px;
    font-weight: 400;
    color: #0A3871;
    outline: none;
    background: lightblue;
}

.munheco{
    float: right;
    border-radius: 32px;
    width: 350px;
    height: 500px;
    margin-right: 40px;
    background: white;
}

#imgDerecha{
    margin-top: 10%;
    height: 40%;
    width: 70%;
    margin-left: 10%;
}

.textoMunheco{
    font-weight: bold;
    font-size: 2em;
    width: 90%;
    text-align: center;
}

.textoResultado{
    width: 90%;
    margin-left: 11px;
    border: none;
    outline: none;
}

.copiar{
    width: 328px;
    border-radius: 24px;
    height: 67px;
    background: #0A3871;
    border-color: #0A3871;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 11px;
    display: none;
}

.botones{
    margin-top: 25%;
    margin-left: 240px;
}

.textoAviso{
    font-weight: bold;
    font-size: 2em;
    width: 90%;
    color: #0A3871;
}

.encriptar1{
    width: 328px;
    border-radius: 24px;
    height: 67px;
    background: #0A3871;
    border-color: #0A3871;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#desencriptar1{
    width: 328px;
    border-radius: 24px;
    height: 67px;
    background: lightblue;
    border-color: #0A3871;
    font-size: 20px;
    font-weight: bold;
    color: #0A3871;
}
